@media screen and (max-width: 600px) {
    .sidenav {
        padding-top: 200px;
        width: 100%;
        overflow-y: hidden;
    }



    .whiteownerName{
        visibility: visible;
    }

    .contacts{
        top: 300px;
    }
    .education{
        top: 550px;
    }
    .personal{
        top: 660px;
    }
}