/* Large Devuces, Wide Screens */
@media only screen and (max-width: 1200px){
    /* */
}
/* Medium Devuces, Desktops */
@media only screen and (max-width: 992px){
    /* */
}
/* Small Devuces, Tablets */
@media only screen and (max-width: 768px){
    body{
        font-size: 24px 
    }

    .class_photo{
        width: 250px;
    }
    .button{
        font-size: 1.2rem;
        width: 200px;
        height: 50px; 
     }
     .trbtn{
        width: 30px;
        height: 20px; 
     }
}
/* Extra Small Devuces, Phones */
@media only screen and (max-width: 480px){
    body{
        font-size: 24px 
    }

    .class_photo{
        width: 250px;
    }
    .button{
        font-size: 1.2rem;
        width: 200px;
        height: 50px; 
     }
     .trbtn{
        width: 30px;
        height: 20px; 
     }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px){
    /* */
}
