html, body{
    height: 100%;
}
    
body{
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #fff;
}

.sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #2D2D2D;
    overflow-x: hidden; 
    overflow-y: auto; 
    padding-top: 0px;
}

.main {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100%;
}

.photo_box{
    margin: 0px;
    padding: 20px;
}

.class_photo{
    width: 200px;
    height: 200px;

    background: url(./images/Photo.jpg);
    border: 5px solid #FFE604;
    mix-blend-mode: luminosity;
    border-radius: 200px;
}

.button_right_box{
    height: 60px;
    width: 55px;
    position: absolute;
    top: 0px;
    left: calc(100% - 45px);
}

.button_right{
    border-width: 0px;
    height: 55px;
    width: 40px;
    background-color: transparent;
}

.button_right:hover{
    opacity: .8;
    cursor: pointer
 }

.button_left_box{
    height: 60px;
    width: 55px;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
}

.button_left{
    border-width: 0px;
    height: 55px;
    width: 40px;
    background-color: transparent;
}

.button_left:hover{
    opacity: .8;
    cursor: pointer
 }

 .header{
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 25px;
}

.header-nav{
    text-align: right;
}

.bottom-header-nav{
    text-align: left;
}

.header-list{
    list-style-type: none;
    padding: 1px;
    margin: 1px;
    display: inline-flex;
    padding-inline-start: 0px;
}

.ownerName{
    margin-left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 58px;

    color: #1E1E1E;
}

.whiteownerName{
    visibility: visible;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 45px;
    color: #FFFFFF;
}

.whiteownerNameBox{
    width: 100%;
}

.bh2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    margin: 0px;
    color: #FFFFFF;
}

.dbh2{

    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    margin: 0px;
    color: #1E1E1E;
}

.wh3{
    margin: 10px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    
    color: #FFFFFF;
}

.bh3{
    margin: 10px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    
    width: 100%;

    color: #1E1E1E;
}

.contacts{
    width: 100%;
}

.education{
    width: 100%;
}

.personal{
    width: 100%;
}

.profile{
    height: 25px;
    width: 100%;
}

.experience{
    height: 25px;
    width: 100%;
}

.industries{
    height: 25px;
    width: 100%;
}

.additional{
    height: 25px;
    width: 100%;
}

.extra{
    height: 25px;
    width: 100%;
}

.download_area{
    margin: 5px;
    width: 100%;
}

.yMark{
    width: 10px;
    height: 25px;
    background: #E0CB10;
}

.gMark{
    width: 100%;
    height: 25px;
    background: #737373;
    display: inline-flex;
}

.lgMark{
    width: 100%;
    height: 25px;
    background: #D9D9D9;
    display: inline-flex;
}

.info_container{
    width: 100%;
}

.black_info_container{
    width: 100%;
}

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFE604;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}

.trbtn{
/*    position: absolute; */
    font-family: 'Roboto Mono';
    font-size: 12px;
    border-width: 0px;
    width: 30px;
    height: 20px;
    right: 51px;
    top: 17px;
    background: #FFFFFF;    
    border-radius: 5px;
    margin-left: 10px;
 }

.trbtn:hover{
    opacity: .8;
    cursor: pointer;
    background: #D9D9D9;
}

.button{
    border-width: 0px;
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 0.375rem;
    font-size: 1rem;
    width: 170px;
    height: 30px; 
    margin-left: 5px;
 }

 .button:hover{
    opacity: .8;
    cursor: pointer
 }