html, body{
    height: 100%;
}
    
body{
    margin: 0px;
    padding: 0px;
    position: relative;
    min-width: 320px;
    background-color: #fff;
}

html, body{
    height: 100%;
}

.sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2D2D2D;
    overflow-x: hidden; 
    overflow-y: auto; 
    padding-top: 0px;
}

.main {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
    margin-left: 250px; /* Same as the width of the sidenav */
}

.class_photo{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 200px;
    left: 25px;
    top: 25px;

    background: url(./images/Photo.jpg);
    border: 5px solid #FFE604;
    mix-blend-mode: luminosity;
    border-radius: 200px;
}

.button_right_box{
    height: 60px;
    width: 55px;
    position: absolute;
    top: 0px;
    left: calc(100% - 45px);
}

.button_right{
    border-width: 0px;
    height: 55px;
    width: 40px;
    background-color: transparent;
}

.button_right:hover{
    opacity: .8;
    cursor: pointer
 }

.button_left_box{
    height: 60px;
    width: 55px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.button_left{
    border-width: 0px;
    height: 55px;
    width: 40px;
    background-color: transparent;
}

.button_left:hover{
    opacity: .8;
    cursor: pointer
 }

.ownerName{
    width: 422px;
    height: 150px;
    margin-left: 20px;

    left: calc(50% - 422px/2 - 143px);
    top: calc(50% - 150px/2 - 400px);

    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;

    color: #1E1E1E;
}

.whiteownerName{
    visibility: hidden;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 45px;
    color: #FFFFFF;
}


.bh2{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    margin: 0px;
    color: #FFFFFF;
}

.dbh2{

    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;

    margin: 0px;
    color: #1E1E1E;
}

.wh3{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    
    padding-left: 10px;
    padding-top: 12px;

    color: #FFFFFF;
}

.bh3{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    
    position: static;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 15px;

     width: 80%;

    color: #1E1E1E;
}

.contacts{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0px;
    top: 250px;
}

.education{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;    
    height: 25px;
    left: 0px;
    top: 500px;
}

.personal{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0px;
    top: 610px;
}

.profile{
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0px;
    top: 150px;
}

.experience{
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0px;
    top: 280px;
}

.industries{
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0px;
    top: 430px;
}

.additional{
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0px;
    top: 630px;
}

.extra{
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 25px;
    width: 100%;
    left: 0px;
    top: 770px;
}

.download_area{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 840px;
}

.yMark{
    position: absolute;
    width: 10px;
    height: 25px;
    top: 0px;
    left: 0px;
    background: #E0CB10;
}

.gMark{
    position: absolute;
    width: 100%;
    height: 25px;
    margin-left: 10px;
    padding-left: 5px;
    background: #737373;
}

.lgMark{
    position: absolute;
    width: 100%;
    height: 25px;
    margin-left: 10px;
    padding-left: 5px;
    background: #D9D9D9;
}

.info_container{
    width: 95%;
    min-width: 1000px;
}

.black_info_container{
    width: 95%;
    min-width: 200px;
    max-width: 250px;
}

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFE604;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
}

.trbtn{
/*    position: absolute; */
    font-family: 'Roboto Mono';
    font-size: 14px;
    border-width: 0px;
    width: 30px;
    height: 20px;
    right: 51px;
    top: 17px;
    background: #FFFFFF;    
    border-radius: 5px;
    margin-left: 10px;
 }

.trbtn:hover{
    opacity: .8;
    cursor: pointer;
    background: #D9D9D9;
}

.header{
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 25px;
}

.header-nav{
    text-align: right;
    width: calc(100% - 250px);
}

.bottom-header-nav{
    text-align: left;
    width: calc(100% - 250px);
}

.header-list{
    list-style-type: none;
    padding: 1px;
    margin: 1px;
    display: inline-flex;
    padding-inline-start: 0px;
}

.button{
    border-width: 1px;
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 0.375rem;
    font-size: 1rem;
    width: 170px;
    height: 30px; 
    margin-left: 5px;
 }

 .button:hover{
    opacity: .8;
    cursor: pointer
 }